# Dependency directories
node_modules/

# Secrets
secrets/*
!secrets/.gitkeep

# Database
database/volume

#Session Home Images
database/images/sessions/home/*
!database/images/sessions/home/.gitkeep

#Session Race Images
database/images/sessions/race/*
!database/images/sessions/race/.gitkeep

#Slide Images
database/images/slides/*
!database/images/slides/.gitkeep

#Team Images
database/images/teams/*
!database/images/teams/.gitkeep
