# Dependency directories
node_modules/

# Secrets
secrets/*
!secrets/.gitkeep

# Database
database/volume

#Session Images
database/images/sessions/*
!database/images/sessions/.gitkeep

#Slide Images
database/images/slides/*
!database/images/slides/.gitkeep

#Team Images
database/images/teams/*
!database/images/teams/.gitkeep
